body 
{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: antiquewhite;
    margin: 0rem;   
}

#allOfTheEye
{
    position: relative;
    height: 500px;
    width: 700px;
}

#emptyEye
{
    position: absolute;
    top: 72px;
    left: 33px;
}

#pupilContainer
{
    position: absolute;
    top: 150px;
    left: 221px;
    width: 436px;
    height: 273px;
}


h1 
{
    color: black; 
}

h2
{
    font-family: 'Space Mono' , monospace;
    font-size: 40px;
    color: black;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}