nav {
	display: flex;
	justify-content: space-between;
}
nav > ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}
nav > ul li { margin: 0 .5rem; }
.links > li { margin: .5rem 0; }
.links > li:first-child { margin-top: 0; }

button {
	background: #FFDDBB;
	border: 1px solid #FFDDBB;
	border-radius: 1.3rem;
	font-size: inherit;
	padding: .2rem .8rem;
}
.outline {
	background: none;
	border-color: #FFDDBB40;
	color: #FFDDBB;
}
.meme { margin-bottom: 1.5rem; }
