body 
{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: antiquewhite;
    margin: 0rem;   
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allOfTheEye
{
    position: relative;
    align-items: center;
    width: 720px;
    height: 410px;
}

#pupilContainer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 400px;
}

#pupilContainer img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#emptyEye
{
    position: absolute;
    top: 50%;
    left: calc(50% + 20px);
    transform: translate(-50%, -50%);
}

h1 
{
    font-family: 'Space Mono' , monospace;
    font-size: 40px;
    color: black; 
}

h2
{
    font-family: 'Space Mono' , monospace;
    font-size: 37px;
    color: black;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px; /* Adjust the height as needed */
}

.button {
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 100px; /* Increase horizontal spacing */
    width: 110px;
    text-align: center;
    background-color: antiquewhite;
    transition-duration: 0.3s;
    border-color: black;
    font-family: 'Space Mono' , monospace;
    font-size: 15px;
}

.button:hover
{
    background-color: black;
    color: antiquewhite;
}

.raised {
    margin-top: -70px; /* Raise the outer buttons */
}

.center {
    margin-top: 40px; /* Lower the center button */
}


