/* regular colors */
/* :root {
	--fg: #FFF;
	--accent: #FA0;
	--bg: #000;
	--bg-alt: #111;
	--bg-alt-more: #222;
	--bg-accent: #024;
} */

/* autumn colors */
:root {
	--fg: #FDB;
	--accent: #D23736;
	--bg: #21080C;
	--bg-alt: #3E0E16;
	--bg-alt-more: #511A1F;
	--bg-accent: var(--bg-alt-more);
}

html, body {
	background: var(--bg);
	color: var(--fg);
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", monospace;
	line-height: 1.75;
	overflow-x: hidden; /* for copypasta meme */
}

/* for copypasta meme */
div.meme { display: flex; justify-content: center; } /* center marquee on screen */
marquee { min-width: 100vw; } /* fill that thang */

h1, h2, h3, h4, h5, h6 {
	font-family: "EB Garamond", serif; /* ooo LaTeX */
	line-height: 100%; /* default line-height is stupid big */
	font-weight: 400;
}

/* Did you know default browser styles make <h1> smaller in containers? */
h1 { font-size: 2rem; }

a {
	color: unset;
	text-decoration: none;
}

a:hover {
	color: var(--accent);
	text-decoration: underline;
}

/* Make links obvious, again */
p a { text-decoration: underline; }

/* Background colors? Finally! */
.bg-alt { background: var(--bg-alt); }
.bg-accent { background: var(--bg-accent); }

/* Since I can't set full-wide background independent of section width, we'll just do everything individually */
div.wrapper {
	max-width: 80ch;
	margin: 0 auto;
	padding: 1rem 1.5rem;
}

/* This is pretty extra considering it's one image but I'm not updating templates if I can do CSS instead */
nav {
	display: flex;
	justify-content: center; /* change this if you add items */
	align-items: center;
	line-height: 100%; /* i hate that <a> links are natively text */
	padding-bottom: 1rem; /* i'm not introducing another flexbox in <header> just to use gap */
}

/* CSS has REALLY stupid selectors! */
header.tall > div.wrapper > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80vh;
}

header.tall .large { white-space: nowrap; } /* for copypasta meme */

/* Seriously... */
footer div.wrapper {
	display: flex;
	gap: 1rem;
}
footer div.wrapper > div { flex-grow: 1; }
footer div.wrapper > div :first-child { margin: 0; }

/* No, just because its big doesn't mean it's a header... semantic HTML ftw! */
.large { font-size: 3rem; line-height: 100%; }
.serif { font-family: "EB Garamond", serif; }

/* Absurdly tiny logo */
img.logo {
	height: 1.25rem;
}

/* Hide bullet points for stuff that isn't a bullet list (semantic x2) */
ul.links {
	list-style: none;
	padding-left: 0;
}

pre, code {
	font-family: inherit;
	background: var(--bg-alt);
	padding: 0 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid var(--bg-alt-more);
}

/* Handles the fact that <code> is INSIDE <pre> by unsetting everything since <pre> has it already. Stupid. */
pre > code {
	padding: unset;
	background: unset;
	border-radius: 0.25rem;
	border: unset;
}

section img, article img {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	border-radius: 0.5rem;
}

/* I only want ONE source of spacing at the top */
/* section :first-child, article :first-child { margin-top: 0; } */

/* Lists are so useful, yet I hate them */
.links.enhanced > * {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--bg-alt-more);
	padding: 0.5rem 0;
}

.links.enhanced.plus-meta > * {
	justify-content: space-between;
}

.links.plus-meta .meta {
	opacity: 0.5;
}

div.mini {
	display: flex;
	align-items: stretch;
	gap: 2rem
}

div.mini > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	flex-basis: 0;
	padding: 1rem 0;
	gap: 0.5rem;
}

div.mini.center > div { align-items: center; }

div.mini .large {
	font-weight: 100; /* we don't import this */
	font-size: 4rem;
}

div.mini span {
	text-align: center;
}

hr.vert {
	width: 1px;
	border: none;
	margin: 0;
	background: var(--fg);
	opacity: 0.2;
}

/*
	Did someone say CARDS?
	Please pretend you didn't
	I stole this from my personal website
*/
div.grid {
	display: grid;
	justify-items: stretch;
	align-items: stretch;
	justify-content: space-between;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

div.card {
	background: var(--bg-alt-more);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 1rem;
	border-radius: 0.5rem;
	gap: 1rem;
}

div.card span.name {
	font-family: "EB Garamond", serif;
	font-size: 1.4rem;
	text-align: center;
	line-height: 100%;
}

div.card span.role {
	font-size: 0.9rem;
	padding: 0 1rem;
	border-radius: 0.25rem;
	background: var(--fg);
	color: var(--bg-alt-more);
}

div.card span.role.advisor {
	background: unset;
	color: unset;
	border: 1px solid var(--fg);
}

div.card > * {
	margin: 0;
}

div.card.horizontal {
	flex-direction: unset;
	align-items: baseline;
	justify-content: space-between;
	grid-column-end: span 3;
}

/* Fixing mobile now */

@media (max-width: 800px) {
	div.grid { grid-template-columns: repeat(2, 1fr); }
	div.card.horizontal {
		grid-column-end: span 2;
	}
}

@media (max-width: 540px) {
	.links.enhanced > * {
		flex-direction: column;
		align-items: unset;
	}
	.links.enhanced.plus-meta > * { justify-content: unset; }
	.links.plus-meta .meta { font-size: 0.8rem; }

	div.grid { grid-template-columns: 1fr; }
	div.card.horizontal { grid-column-end: span 1; }
	footer div.wrapper { flex-direction: column; }
}

@media (max-width: 800px) and (min-width: 500px) {
	div.mini .large { font-size: 2.5rem;}
}

/* Purely for the minis to wrap */
@media (max-width: 500px) {
	hr.vert { display: none; }
	div.mini { flex-direction: column; }
}

/* credit to Daniel — https://cyckl.net */
