html, body {
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font: 1rem/1.6 "JetBrains Mono", monospace;
}
h1, h2, h3, h4, h5, h6 { font-family: "EB Garamond", serif; }
.mono, .mono * { font-family: "JetBrains Mono", monospace !important; }
h1 { margin-bottom: 0; }
a {
    color: white;
    text-decoration: none;
}
p > a { text-decoration: underline; }
a:hover { color: #0f7; }
pre { overflow-x: scroll; }
section img,
article img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

header, section, footer {
    margin: 0 auto;
    padding: 1rem 2rem;
}
section h2 { margin-top: 0; }

#hero {
    margin: 6rem auto;
}
#hero h2 {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: .5rem;
}

.long {
    background: #024;
    padding: 2rem 2rem;
}
.long > div { margin: 0 auto; }

.stack, .sxs, .sxs-foot {
    display: flex;
    flex-flow: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.card {
    background: #222;
    display: flex;
    flex-flow: column;
    margin: 1rem;
    padding: 1rem;
}
.card > h3,
.grid .card > h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}
.grid .card > h3 { margin: 0 0 1rem; }
.role {
    background: #fff;
    color: #000;
    margin-bottom: .3rem;
    padding: .3rem 1rem;
}
.advisor { background: #0f7; }
@media (min-width: 500px) {
    .grid { grid-template-columns: repeat(2, minmax(0,1fr)); }
}
@media (min-width: 800px) {
    header, .long > div, section, footer { max-width: 90ch; }
    .grid { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    .long {
        max-width: revert;
        padding: 2rem 0;
    }

    .sxs,
    .sxs-foot {
        flex-flow: row;
        justify-content: space-between;
    }
    .sxs-foot >:first-child { flex: 1; }
    .sxs >:first-child { margin-right: 4rem; }
}

::selection {
    background: #0f7;
    color: #000;
}

/* TODO: Sort styles and remove dupes */

#gdpr {
    display: none; /* hide GDPR frames by default, JS enables them */
    max-width: 75ch;
    background: rgba(11,12,12,.2);
    padding: 1rem 2rem;
    margin: 0 auto;
}
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  border: 2px solid #000;
  width: 100%;
  margin: 1rem 0;
}
.border > img {
    max-width: 400px;
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.border > .item { padding: 1rem }
.border > .item > a { font-size: 1.25rem; }

hr {
    border: 1px solid #0002;
    margin: 1rem 0;
} /* credit to Daniel — https://cyckl.net */
footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 800px) {
    .item {
        display: flex;
        justify-content: space-between;
    }
    .border { flex-direction: row; }
    .border > img { border-radius: 5px 0 0 5px; }
    .border > .item {
        display: flex;
        flex-direction: column;
    }
    .border > .item > a { font-size: 1.5rem; }
    #team { max-width: 100ch; }
    footer {
        flex-direction: row;
        justify-content: space-between; /* ideally, keep centre item in centre on desktop */
    }
    main > img,
    article > p > img { max-width: 800px; }
}