{% extends "base.html" %}

{% block nav %}{% include "partials/nav.html" %}{% endblock %}

{% block content %}
<article>
    {{ page.content | safe }}
    <section id="team">
        <h2>Our team</h2>
        {% set team = load_data(path="team.json") %}
        <div class="grid">
            {% for member in team.contributors %}
            <div class="card">
                {% set path = "static/assets" %}
                <img src="{{config.base_url}}/assets/team/{{member.user}}.jpg" onerror="this.style.display='none'">
                <h3>
                    {% if member.name %}{{member.name}}{% else %}{{member.user}}{%endif%}
                    {% if member.role %}
                    <span class="role {{member.role | lower }}">{{member.role}}</span>
                    {%endif%}
                </h3>
                {% if member.bio %}<span>{{member.bio}}</span>{% endif %}

                {% if member.portfolio or member.linkedin %}
                <div>
                    {% if member.portfolio %}
                    <a href="{{member.portfolio}}">portfolio</a>
                    {% endif %}
                    {% if member.linkedin %}
                    <a href="{{member.linkedin}}">linkedin</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
</article>
{% endblock content %}
