<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>{% if page.title %}{{page.title|safe}} | San Diego CS{% elif section.title %}{{section.title|safe}} | San Diego CS{% else %}San Diego CS{% endif %}</title>
		<link rel="stylesheet" href="{{config.base_url}}/style.css">
		<meta property="og:title" content="{% if page.title %}{{page.title|safe}}{% elif section.title %}{{section.title|safe}}{%endif%}">
		<meta property="twitter:title" content="{% if page.title %}{{page.title|safe}}{% elif section.title %}{{section.title|safe}}{%endif%}">
		{% if page.authors %}
		<meta name="author" content="{{page.authors[0]}}">
		<meta property="og:type" content="article">
		{% endif %}
		{% if page.description %}
			{% set desc = page.description %}
		{% elif section.description %}
			{% set desc = section.description %}
		{% else %}
			{% set desc = "San Diego Computer Society (SDCS) is a non-profit, tech-incubator for college students founded out of San Diego Miramar College." %}
		{% endif %}
		<meta name="description" content="{{desc}}">
		<meta property="og:description" content="{{desc}}">
		{% if page.extra.thumb %}
		<meta property="og:image" content="{{config.base_url | safe}}{{ page.extra.thumb | safe }}">
		<meta name="twitter:image" content="{{config.base_url | safe}}{{ page.extra.thumb | safe }}">
		{% endif %}
	</head>
	<body>
		<header>
			<nav>
				<a href="/"><span>SDCS</span></a>
				{% block nav %}{% endblock %}
			</nav>
			{% block header %}{% endblock %}
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<hr>
		<footer>
			<span>
				&copy; 2023 San Diego CS.<br>

				<a href="https://discord.gg/HMWFMAE3XQ">discord</a> | <a href="https://www.instagram.com/sandiegocomputerscience/">instagram</a> | <a href="https://www.youtube.com/@sandiegocomputerscience">youtube</a> | <a href="https://www.linkedin.com/company/sandiegocomputerscience/">linkedin</a> | <a href="{{config.base_url|safe}}/contact">contact</a>
			</span>
			<span><a href="https://github.com/sandiegocs/website">source</a></span>
		</footer>
	</body>
	{% block scripts %}{% endblock %}
</html>
