<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>{% if page.title %}{{page.title|safe}} | San Diego CS{% elif section.title %}{{section.title|safe}} | San Diego CS{% else %}San Diego CS{% endif %}</title>
		<link rel="stylesheet" href="{{config.base_url}}/style.css">
		<meta property="og:title" content="{% if page.title %}{{page.title|safe}}{% elif section.title %}{{section.title|safe}}{%endif%}">
		<meta property="twitter:title" content="{% if page.title %}{{page.title|safe}}{% elif section.title %}{{section.title|safe}}{%endif%}">
		<link rel="canonical" href="{{current_url | safe}}">
		{% if page.authors %}
        {% set authors = page.authors | join(sep=", ") %}
		<meta name="author" content="{{authors}}">
		<meta property="og:type" content="article">
		{% endif %}
		{% if page.description %}
			{% set desc = page.description %}
		{% elif section.description %}
			{% set desc = section.description %}
		{% else %}
			{% set desc = "San Diego Computer Society (SDCS) is a non-profit, tech-incubator for college students founded out of San Diego Miramar College." %}
		{% endif %}
		<meta name="description" content="{{desc}}">
		<meta property="og:description" content="{{desc}}">
		{% if page.extra.thumb %}
		<meta property="og:image" content="{{config.base_url | safe}}{{ page.extra.thumb | safe }}">
		<meta name="twitter:image" content="{{config.base_url | safe}}{{ page.extra.thumb | safe }}">
		{% endif %}
	</head>
	<body>
		<header>
			<nav>
				<a href="/"><span>SDCS</span></a>
				{% block nav %}{% endblock %}
			</nav>
			{% block header %}{% endblock %}
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<hr>
		<footer class="sxs">
			<div>
				<img src="https://cdn.chocobun.net/sdcs/logo.jpg" alt="San Diego Computer Science">
				<span>&copy; 2023-2024 San Diego CS.</span>
			</div>
			<div>
				<h2>Club</h2>
				<ul>
					<li><a href="/news">News &rarr;</a></li>
					<li><a href="/wiki">Wiki &rarr;</a></li>
					<li><a href="/contact">Contact &rarr;</a></li>
				</ul>
			</div>
			<div>
				<h2>Find us</h2>
				<ul>
					<li><a href="{{ config.extra.discord_url }}">Discord &rarr;</a></li>
					<li><a href="https://instagram.com/sandiegocomputerscience/">Instagram &rarr;</a></li>
					<li><a href="https://youtube.com/@sandiegocomputerscience">YouTube &rarr;</a></li>
					<li><a href="https://linkedin.com/company/sandiegocomputerscience">LinkedIn &rarr;</a></li>
				</ul>
			</div>
			<div>
				<h2>This site</h2>
				<ul>
					<li><a href="https://github.com/sandiegocs/website">Source code &rarr;</a></li>
					<li><a href="/contact">Contact &rarr;</a></li>
				</ul>
			</div>
		</footer>
	</body>
	{% block scripts %}{% endblock %}
	<script async defer src="https://umami.chocobun.net/script.js" data-website-id="afc700af-94d4-4858-8528-5b0db0a6b0de" data-domains="sandiegocs.net,www.sandiegocs.net,sdcs.club,www.sdcs.club"></script>
</html>
