{% extends "base.html" %} {% block header %}
<header class="tall bg-alt">
	<div class="wrapper">
		<nav>
			<a href="/">
				<img class="logo" src="/logo.svg" alt="SDCS" />
			</a>
		</nav>
		<div class="jumbo content">
			<span class="large serif"
				>I'd just like to interject for a moment. What you're refering
				to as Linux, is in fact, GNU/Linux, or as I've recently taken to
				calling it, GNU plus Linux. Linux is not an operating system
				unto itself, but rather another free component of a fully
				functioning GNU system made useful by the GNU corelibs, shell
				utilities and vital system components comprising a full OS as
				defined by POSIX. Many computer users run a modified version of
				the GNU system every day, without realizing it. Through a
				peculiar turn of events, the version of GNU which is widely used
				today is often called Linux, and many of its users are not aware
				that it is basically the GNU system, developed by the GNU
				Project. There really is a Linux, and these people are using it,
				but it is just a part of the system they use. Linux is the
				kernel: the program in the system that allocates the machine's
				resources to the other programs that you run. The kernel is an
				essential part of an operating system, but useless by itself; it
				can only function in the context of a complete operating system.
				Linux is normally used in combination with the GNU operating
				system: the whole system is basically GNU with Linux added, or
				GNU/Linux. All the so-called Linux distributions are really
				distributions of GNU/Linux!</span
			>
			<ul class="links">
				<li>
					<a href="/join" data-umami-event="Join today in header"
						>Join today &rarr;</a
					>
				</li>
				<li><a href="/wiki">Wiki &rarr;</a></li>
			</ul>
		</div>
	</div>
</header>
{% endblock %} {% block content %}
<!--<section class="long bg-accent">
    <div>
        <h1>Next meeting</h1>
        <noscript>
            <span>Sorry, this requires JavaScript to load the next meeting. You can <a href="https://events-api.sandiegocs.net/v1/all">view the raw data</a> or see the <a href="{{ config.extra.discord_url }}">latest information in our Discord server.</a></span>
        </noscript>
        <div class="sxs mono">
            <div>
                <h3>0000-00-00 <span class="role advisor">XXXXXXXX</span></h3>
                <h2>00:00 AM</h2>
            </div>
            <div>
                <h3>Room</h3>
                <h2>000X</h2>
            </div>
        </div>
        <span><a href="" data-umami-event="Add next event to calendar">Add to calendar &rarr;</a></span>
    </div>
</section>-->
<section class="bg-accent">
	<div class="wrapper">
		<h1>Next meeting</h1>
		<div class="mini">
			<div>
				<span>Friday, October 11</span>
				<span class="large stats">12:45 PM</span>
			</div>
			<hr class="vert" />
			<div>
				<span>Room</span>
				<span class="large stats">M-102</span>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="wrapper">
		<h1>About SDCS</h1>
		{{ section.content | safe }}
	</div>
</section>

<section class="bg-accent">
	<div class="wrapper">
		<div class="mini center">
			<div>
				<span class="large stats">27</span>
				<span>Active members</span>
			</div>
			<hr class="vert" />
			<div>
				<span class="large stats">271</span>
				<span>Alumni</span>
			</div>
		</div>
	</div>
</section>

<section class="bg-alt">
	<div class="wrapper">
		<h1>Our team</h1>
		<div class="grid">
			{% set team = load_data(path="team.json") %} {% for member in
			team.contributors %}
			<div class="card">
				<span class="name">{{ member.name }}</span>
				{% if member.role %}
				<span class="role">{{ member.role }}</span>
				{% endif %}
			</div>
			{% endfor %}
			<div class="card horizontal">
				<span class="name">Andrew Huang</span>
				<span class="role advisor">Advisor</span>
			</div>
		</div>
	</div>
</section>
{% endblock content %} {# {% block scripts %}
<script async src="{{config.base_url}}/cal_fetch.js"></script>
{% endblock scripts %}#}
