{% extends "base.html" %}

{% block content %}
    <img src="{{config.base_url | safe}}/assets/eye/full.png" alt="An eye.">
    <h2 id="scrambled" data-value="What is YOUR vision?">What is YOUR vision?</h2>
    <!-- TODO: Replace with non-absolute styling to allow scaling.
    <div id="allOfTheEye">

        {# Picture of eye without its pupil #}
        <img src="{{config.base_url}}/assets/eye/eye.png" id="emptyEye">
        {# The box that will contain the pupil and restrict its movements #}
        <div id="pupilContainer">
            {# The pupil picture that is going to move #}
            <img src="{{config.base_url}}/assets/eye/pupil.png" alt="pupil">

        </div>
        <noscript><img src="{{config.base_url | safe}}/assets/eye/full.png" alt="An eye."></noscript>
    -->
    </div>

    <div>
        <a class="btn" href="/news" >News</a> {# TODO: Better name for news #}
        <a class="btn" href="/podcast">Our Podcast</a>
        <a class="btn" href="/about">About SDCS</a>
    </div>
{% endblock content %}

{% block scripts %}
<!--<script src="{{config.base_url}}/eye.js"></script>-->
<script src="{{config.base_url}}/scramble.js"></script>
{% endblock scripts %}