{% extends "base.html" %}

{% block header %}
<div id="hero" class="sxs">
    <div>
        <h2>What's <em><u>your</u></em> vision?</h2>
        <div class="stack">
            <a href="/join" data-umami-event="Join today in header">Join today &rarr;</a>
            <a href="/wiki">Wiki &rarr;</a>
        </div>
    </div>
    <!--<img src="https://cdn.chocobun.net/sdcs/eye.png">-->
    <img src="/assets/eye.png">
</div>
{% endblock %}

{% block content %}
<section class="long b">
    <div>
        <h2>Next meeting</h2>
        <noscript>
            <span>Sorry, this requires JavaScript to load the next meeting. You can <a href="https://events-api.sandiegocs.net/v1/all">view the raw data</a> or see the <a href="{{ config.extra.discord_url }}">latest information in our Discord server.</a></span>
        </noscript>
        <div class="sxs mono">
            <div>
                <h3>0000-00-00 <span class="role advisor">XXXXXXXX</span></h3>
                <h2>00:00 AM</h2>
            </div>
            <div>
                <h3>Room</h3>
                <h2>000X</h2>
            </div>
        </div>
        <span><a href="" data-umami-event="Add next event to calendar">Add to calendar &rarr;</a></span>
    </div>
</section>

<section>
    <h2>About SDCS</h2>
    {{ section.content | safe }}
</section>

<section class="long b">
    <div class="sxs" align="center">
        <div>
            <h2>27</h2>
            <span>Active members</span>
        </div>
        <div>
            <h2>271</h2>
            <span>Alumni</span>
        </div>
    </div>
</section>

<section>
    <h2>Our team</h2>
    <div class="grid">
        {% set team = load_data(path="team.json") %}
        {% for member in team.contributors %}
        <div class="card">
            <h3>{{ member.name }}</h3>
            {% if member.role or member.linkedin %}
            <span>{% if member.role %}<span class="role">{{ member.role }}</span>{% endif %}
            {% if member.linkedin %}<a href="{{ member.linkedin }}" data-umami-event="Went to {{member.name}}'s LinkedIn">LinkedIn</a>{% endif %}</span>{% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="card sxs">
        <h3>Andrew Huang</h3>
        <span class="role advisor">Advisor</span>
</section>
{% endblock content %}

{% block scripts %}
<script async src="{{config.base_url}}/cal_fetch.js"></script>
{% endblock scripts %}
