{% extends "base.html" %}

{% block nav %}{% include "partials/nav.html" %}{% endblock %}

{% block header %}
    <section>
        <h1>{{page.title}}</h1>
        {% if page.authors or page.date %}
        <p>
            {% if page.authors %}
            {# TODO: Iterate through properly and use commas #}
            Written by {{page.authors[0]}} |
            {% endif %}
            {% if page.updated %}
            {{page.updated}} (orig. {{page.date}})
            {% else %}
            {{page.date}}
            {% endif %}
        </p>
        {% endif %}
    </section>
{% endblock %}

{% block content %}
    <article>
        {{ page.content | safe }}
    </article>
{% endblock %}
